<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Entrada</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .table-container {
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .table thead th {
            background-color: #0d6efd;
            color: white;
            text-align: center;
        }
        .table tbody tr {
            background-color: #f8f9fa;
            text-align: center;
        }
        .table tbody tr:nth-child(even) {
            background-color: #e9ecef;
        }
        .btn-editar {
            background-color: #0d6efd;
            color: white;
        }
        .btn-eliminar {
            background-color: #dc3545;
            color: white;
        }
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .input-group .form-control::placeholder {
            text-align: right;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand fw-bolder">Tareas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('Inicio') }}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('mi_evento') }}">Mi Evento</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ventasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ventas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="ventasDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('crear_entrada') }}">Crear Entrada</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('ventas') }}">Mandar Entrada</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('estadisticas') }}">Estadísticas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('escanear') }}">Escanear</a>
                    </li>
                </ul>
            </div>
            <span>Hola {{session['NombreUsuario']}} {{session['ApellidoUsuario']}}<a href="{{url_for('logout')}}" class="mx-3">Salir</a></span>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Crear Entrada</h2>
        <form action="/crear_entrada" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="NombreEntrada" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="NombreEntrada" name="NombreEntrada" required>
                </div>
                <div class="col-md-6">
                    <label for="PrecioEntrada" class="form-label">Precio de venta</label>
                    <div class="input-group">
                        <span class="input-group-text">₲</span>
                        <input type="text" class="form-control" id="PrecioEntrada" name="PrecioEntrada" required>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="ImagenEntrada" class="form-label">Imagen</label>
                    <input type="file" class="form-control" id="ImagenEntrada" name="ImagenEntrada" required>
                </div>
                <div class="col-md-6">
                    <label for="idEventoEntrada" class="form-label">Seleccione evento</label>
                    <select class="form-control" id="idEventoEntrada" name="idEventoEntrada" required>
                        {% for evento in eventos %}
                            <option value="{{ evento.idEvento }}">{{ evento.NombreEvento }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" id="NombreEventoEntrada" name="NombreEventoEntrada" value="">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Crear Entrada</button>
        </form>

        <!-- Tabla para mostrar las entradas creadas -->
        <div class="mt-5 table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Imagen</th>
                        <th>Evento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entrada in entradas %}
                        <tr>
                            <td>{{ entrada.NombreEntrada }}</td>
                            <td>{{ entrada.PrecioEntrada }} ₲</td>
                            <td>
                                {% if entrada.ImagenEntrada %}
                                    <img src="{{ url_for('static', filename='images/' ~ entrada.ImagenEntrada) }}" alt="Imagen de {{ entrada.NombreEntrada }}" style="width: 100px; height: auto;">
                                {% else %}
                                    Sin imagen
                                {% endif %}
                            </td>
                            <td>{{ entrada.NombreEventoEntrada }}</td>
                            <td>
                                <a href="{{ url_for('editar_entrada', id=entrada.idEntrada) }}" class="btn btn-editar">Editar</a>
                                <a href="{{ url_for('eliminar_entrada', id=entrada.idEntrada) }}" class="btn btn-eliminar">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.1.0"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const eventoSelect = document.getElementById('idEventoEntrada');
            const eventoNombreInput = document.getElementById('NombreEventoEntrada');

            eventoSelect.addEventListener('change', function() {
                eventoNombreInput.value = eventoSelect.options[eventoSelect.selectedIndex].text;
            });

            // Inicializar el campo oculto con el valor seleccionado por defecto
            eventoNombreInput.value = eventoSelect.options[eventoSelect.selectedIndex].text;

            new AutoNumeric('#PrecioEntrada', {
                decimalCharacter: ',',
                digitGroupSeparator: '.',
                decimalPlaces: 0,
                minimumValue: '0',
            });
        });
    </script>
</body>
</html>
